---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

ul.free_answers {
  background: #e5d60a;
  padding: 20px;
  list-style-position: inside;
}

ul.free_answers li {
  background: #fff39a;
  margin: 5px;
}

